:root {
  --white: #fff;
  --gray-lighter: #ddd;
  --gray-light: #ccc;
  --gray-mid-lighter: #aaa;
  --gray-mid-light: #999;
  --gray-mid: #777;
  --gray-mid-dark: #555;
  --gray-mid-darker: #444;
  --gray-dark: #333;
  --gray-darker: #222;
  --black: #000;
  --main-bg-color: var(--black);
  --main-fg-color: var(--gray-light);
  --secondary-fg-color: var(--gray-mid-light);
  --tertiary-fg-color: var(--gray-mid);
  --error-bg-color: #ffd6d6;
  --error-fg-color: #ff9696;
  --main-font-normal: "Roboto Condensed", -apple-system-condensed,
    sanfranciscocondensed-regular, sanfranciscocondensed,
    "San Francisco Condensed", avenirnextcondensed-regular, avenirnextcondensed,
    "Avenir Next Condensed", helveticanueuecondensed-regular,
    helveticanueuecondensed, "Helvetica Neue Condensed",
    helveticacondensed-regular, helveticacondensed, "Helvetica Condensed",
    sans-serif-condensed, -apple-system, blinkmacsystemfont, "San Francisco",
    "Helvetica Neue", "Segoe UI", helvetica, "Arial Condensed", arial,
    sans-serif;
  --main-font-title: roboto, -apple-system, blinkmacsystemfont, "San Francisco",
    "Helvetica Neue", "Segoe UI", helvetica, arial, sans-serif;
  --main-font-ui: roboto, -apple-system, blinkmacsystemfont, "San Francisco",
    "Helvetica Neue", "Segoe UI", helvetica, arial, sans-serif;
  --main-font-ui-icons: ui-monospace, menlo, monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --normal-font-size: 16px;
  --heading-primary-font-size: 2em;
  --heading-secondary-font-size: 1.5em;
  --important-font-size: 1.2em;
  --small-font-size: 0.8em;
  --ui-icon-size: 0.6rem;
  --animation-speed-normal: 500ms;
  --animation-speed-very-fast: 125ms;
  --animation-speed-fast: 250ms;
  --animation-speed-slow: 750ms;
  --animation-speed-very-slow: 875ms;
  --animation-timing-function-natural: cubic-bezier(0.4, 0, 1, 1);
}

html {
  /* Browser-normalizations */
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  min-width: 280px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

body {
  align-items: center;
  justify-content: center;
  background: var(--main-bg-color);
  font-family: var(--main-font-normal);
  font-size: var(--main-font-size);
  color: var(--main-fg-color);
}

@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}

a {
  color: var(--gray-light);
  text-decoration: none;
  transition: color var(--animation-speed-very-fast)
    var(--animation-timing-function-natural);
}

a:link,
a:visited {
  color: var(--gray-light);
  text-decoration: none;
}

a:hover {
  color: var(--white);
}
@media (hover: none) {
  /* Reset normal hover effects, so mobile doesn't try and show them */
  a:hover {
    color: var(--gray-light);
  }
}

a:active {
  color: var(--gray-mid);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font-title);
}

h1 {
  /* NOTE: We should reserve this for our header logo */
}

h2 {
  margin: 0.625em 0;
  font-size: var(--heading-primary-font-size);
}

h3 {
  margin: 0.5em 0;
  font-size: var(--heading-secondary-font-size);
}

hr,
.hr-border {
  margin: 25px auto;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--gray-mid);
}

em {
  font-style: italic;
  color: var(--tertiary-fg-color);
}

dl {
  display: flex;
  flex-direction: row;
  align-items: center;
}
dt,
dd {
  display: inline-block;
}
dt {
  text-align: left;
}
dd {
  margin-left: 40px;
  flex: 1;
  text-align: right;
}
dd.strong {
  font-weight: bold;
}

input,
select,
textarea,
button,
.link-button,
a.link-button {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em;
  color: var(--black);
  font-family: var(--main-font-ui);
  font-size: 1em;
}
input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.link-button,
a.link-button {
  min-width: 8em;
}
select {
  background-image: url(/assets/ui-icons/angle-down-arrow-line.svg);
  background-origin: content-box;
  background-position: 100% 50%;
  background-size: 0.5em;
  background-repeat: no-repeat;
}
textarea {
  resize: vertical;
  min-height: 2em;
}
input:disabled,
select:disabled,
textarea:disabled {
  background-color: var(--gray-mid-lighter);
  color: var(--gray-mid-dark);
}
input::placeholder,
select::placeholder,
textarea::placeholder,
button::placeholder {
  text-transform: capitalize;
}
input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.link-button,
.link-button:link,
a.link-button,
a.link-button:link {
  background-color: var(--gray-lighter);
}
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:hover,
.link-button:hover,
a.link-button:hover {
  background-color: var(--white);
}
@media (hover: none) {
  /* Reset normal hover effects, so mobile doesn't try and show them */
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  button,
  .link-button {
    background-color: var(--gray-lighter);
  }
}
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
button:active,
.link-button:active,
a.link-button:active {
  background-color: var(--gray-light);
}
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
button:disabled,
.link-button:disabled,
a.link-button:disabled {
  background-color: var(--gray-mid);
}

input.error:invalid,
select.error:invalid,
textarea.error:invalid {
  background-color: var(--error-bg-color);
  color: var(--black);
}
select.error:invalid option {
  background-color: var(--white);
}

input:not(:focus):invalid,
select:not(:focus):invalid,
textarea:not(:focus):invalid,
input:not(:focus):placeholder-shown,
select:not(:focus):placeholder-shown,
textarea:not(:focus):placeholder-shown {
  color: var(--gray-mid);
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: var(--black);
}

html::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: var(--gray-mid-dark);
  background-clip: padding-box;
}

html::-webkit-scrollbar:hover {
  background-color: var(--gray-dark);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-mid);
}

html::-webkit-scrollbar-thumb:active {
  background-color: var(--gray-mid-light);
}

#varied-vibe-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-width-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 600px) {
  .page-width-wrapper {
    padding: 0 10px;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.modal-open {
  overflow: hidden;
}

.content-link,
.content-link:link {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--gray-mid);
  text-underline-offset: 0.1em;
}

.status-message.error {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--error-fg-color);
  text-underline-offset: 0.1em;
}

.ui-icon {
  display: block;
  width: var(--ui-icon-size);
  height: var(--ui-icon-size);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ui-icon-badge {
  display: block;
  position: absolute;
  bottom: -0.25em;
  right: -0.25em;
  z-index: 1;
  width: 1em;
  height: 1em;
  padding: 0.15em;
  border-radius: 1em;
  font-size: calc(var(--ui-icon-size) / 2);
  font-weight: bold;
  text-align: center;
}
.ui-icon-badge.hidden {
  display: none;
}
